//Typography variables
$brandBodyFont: helvetica, arial, sans-serif;
$brandHeadingFont: "Montserrat", sans-serif, tahoma, arial, sans-serif;


//Brand primary colour
$blue: #0044db;
$yellow: #ffb031;
$red: #ff2222;
$green: #00d857;


//Brand functional colours
$white: #ffffff;
$w: $white;
$lightgrey: #f1f1f1;
$darkgrey: #333333;
$black: #000000;
